mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews.bg-wrap&attributes(attributes)
		img(src="img/@2x/sReviews-bg.jpg", alt="").picture-bg
		.container
			+b.section-title
				h2 Отзывы о выставке
			.row
				+e.col.col-lg-auto
					+e.slider-wrap
						//- +e.wrap
						+e.slider--js.swiper
							.swiper-wrapper
								mixin slide(text, sign, showMore)
									+e.slide.swiper-slide
										+e.slide-wrap
											p!= text
											if showMore
												a(href="#") Развернуть
											span!= sign
										//- +arrow2()
								+slide(' Мы принимаем участие не первый раз, выставка 2 раза в год, и мы стараемся участвовать, потому что выставка замечательная, помимо того, что очень много заинтересованной целенаправленной публики, которая действительно приходит, чтобы поддержать свое здоровье при помощи натуральных продуктов. Мы находим много партнеров постоянных – это контакты, это связи, мы расширяем рынки сбыта. Мы очень довольны, с огромным удовольствием будем принимать участие еще, и не раз. В марте обязательно мы здесь... ', 'ООО «БакЗдрав»', 'true')
								+slide(' БАД-EXPO – отличная выставка, она третий раз проходит в центре Москвы, а мы уже третий раз участвуем. Мы рады тому, что тут большое количество интересных людей, интересных спикеров и, конечно же, большое количество наших партнеров. С каждой новой выставкой качество посетителей, и B2B, и B2C сектора, конечно же, растет. За три раза, что мы принимаем участие... ', 'Avicenna', 'true')
								+slide(' Прекрасная выставка, это уже не первая выставка, где мы работаем в таком формате, когда представляем именно продукцию для здоровья. Всегда здесь очень оживленно, очень много полезных контактов, новых связей, знакомств. Смотрим, что есть нового на рынке, потому что много лет мы уже в сфере здоровья и здорового образа жизни. Много полезных знакомств, контактов, информации, все классно. Сюда приходят не случайные люди, а целевая аудитория, люди ищут хороший, качественный, достойный... ', 'NewAge', 'true')
								+slide('Прекрасная выставка! Очень прекрасные посетители, крайне радушная публика, вчера выступал наш спикер Михаил Пасынок, и мы получили классный фидбэк, прям очень понравилось, было много вопросов. Потрясающе здесь все еще организовано, есть место пообщаться.<br>Мы обязательно придем в марте, нам все понравилось.', 'online patent')
								+slide('Выставка очень интересная, очень разнообразная, и мы даже нашли для себя 4 интересных компании, которые на стендах представлены. Собрали более 50 контактов, с которыми можно посотрудничать. Розничных покупателей было даже меньше, чем бизнес-партнеров. Хотя интересующихся клиентов, которые подошли, продегустировали, поинтересовались, получили информацию, было очень много. У нас толпа на стенде.<br>Скорее всего, можете ждать нас на выставке в марте.', 'Сантевилль')
								+slide('Достаточно впечатляющая выставка. Много людей, больше, чем было полгода назад. Сегодня какой-то аншлаг фантастический. Мне кажется, за сегодняшний день посетителей в B2B сегменте, в котором мы работаем, чуть ли не столько, сколько полгода назад за три дня выставки. Если все так и будет продолжаться, ждите нас и еще через полгода. Еще была прекрасная открывающая лекция от компании DSM Group, которая рассказала нам, в каком состоянии находится рынок БАД, и... ', 'ИнВита', 'true')
								+slide('Мы не ожидали такого потока клиентов, и с B2B, и с B2C. Очень здорово, очень понравилось. У нас просто огромное количество каталогов разлетелось. Это нечто. И очень нам понравились лекции ваши, особенно про маркировку БАД. Очень полезная информация. Поэтому ждите нас обязательно снова. Спасибо огромное за организацию.', 'ООО «Здоровит»')
								+slide('Нам выставка очень нравится. Мы уже участвуем второй раз и очень довольны, взяли стенд в два раза больше. И сегодня, так же, как и в прошлый раз, очень много людей, очень интересные контакты, и просто покупатели, и юридические лица. Мы здесь и интересные партнерства рассматриваем, и новых покупателей приобретаем. Очень все хорошо здесь. Очень интересные идут лекции, выступления наших коллег, партнеров.<br>Я считаю, что это познавательно и для прямого... ', 'DEM4 R', 'true')
								+slide('Выставка ошеломила нас, потому что здесь примерно столько же людей, как на ПРОДЭКСПО. И понравилось то, что здесь целенаправленная аудитория, которая именно ищет продукты для здоровья. Мы вышли на эту выставку, потому что у нас есть БАД – Бальзам Промед, с которым мы вышли на рынок. Он, можно сказать, является родоначальником нашей компании. Очень живо люди воспринимают все натуральное. Надеемся, что и осенью мы сможем представить здесь нашу продукцию и... ', 'Промёд', 'true')
								+slide('Интересная выставка, нам нравится. Со стендом стоим впервые. Видно, что люди очень соскучились по мероприятиям. К нам подходили наши партнеры, заинтересованные аптечные сети, и B2C сегмент тоже присутствует. Надеемся, что вы увидите нас на следующей выставке в ноябре!', 'ВТФ')
							+arrow2()
	// end sReviews