mixin sTimeAndPlace(data)
	// start sTimeAndPlace
	+b.sTimeAndPlace.section#sTimeAndPlace&attributes(attributes)
		.container
			p Режим работы:
			p 24–26 марта, 10.00-19.00
			p Адрес: EVENT-ХОЛЛ «ИнфоПространство», 1-й Зачатьевский пер., 4
		+map()
		//- +e.map-wrap
		//- 	<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2246.091500274204!2d37.604485650392895!3d55.73953914528197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x46b54ba98390be6b%3A0xee43d883318f3f0a!2zRVZFTlQt0KXQntCb0JsgItCY0L3RhNC-0J_RgNC-0YHRgtGA0LDQvdGB0YLQstC-IiwgMS1ZIFphY2hhdCd5ZXZza2l5IFBlcmV1bG9rLCA0LCBNb3Njb3csIFJ1c3NpYSwgMTE5MDM0!3m2!1d55.7396098!2d37.604701299999995!5e0!3m2!1sen!2slv!4v1646815144131!5m2!1sen!2slv" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	// end sTimeAndPlace