mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock.bg-wrap&attributes(attributes)
		//- +pic('headerBlock-bg.jpg', 'bg', 0).picture-bg
		img(src="img/@2x/headerBlock-bg.jpg", alt="").picture-bg
		.container
			+b.section-title
				h1 IV&nbsp;МЕЖДУНАРОДНАЯ СПЕЦИАЛИЗИРОВАННАЯ ВЫСТАВКА-ПРОДАЖА БАД&nbsp;И&nbsp;ЗДОРОВОГО&nbsp;ПИТАНИЯ
				span 24–26 МАРТА
			button.btn Получить билет бесплатно!
			+e.IMG(src="img/@2x/capsules.png", alt="").img
	// end headerBlock