mixin sExhibitionSlider(data)
	// start sExhibitionSlider
	+b.SECTION.sExhibitionSlider.section#sExhibitionSlider&attributes(attributes)
		.container
			+b.section-title
				h2 Стенды БАД-EXPO
			+e.slider-wrap
				//- +e.wrap
				+e.slider--js.swiper
					.swiper-wrapper
						mixin slide(i)
							+e.slide.swiper-slide
								img(src=`img/@2x/sExhibitionSlider-${i}.png`, alt="")
								//- +pic(`sExhibitors-slider-${i}.png`, `bg`, 0)
						- for(var i = 1; i < 98; i++)
							+slide(i)
			+e.slider-thumbs--js.swiper
				.swiper-wrapper
					mixin slide(num)
						+e.slide--thumbs.swiper-slide
							+e.slide-wrap 
								span!= num
					+slide('02-1')
					+slide('02-2')
					+slide('03-1')
					+slide('03-2')
					+slide('04')
					+slide('05')
					+slide('06')
					+slide('07')
					+slide('08')
					+slide('09')
					+slide('09-1')
					+slide('09-2')
					+slide('09-3')
					+slide('09-4')
					+slide('09-5')
					+slide('09-6')
					+slide('09-7')
					+slide('10')
					+slide('11-1')
					+slide('11-2')
					+slide('11-3')
					+slide('11-4')
					+slide('11-5')
					+slide('11-6')
					+slide('11-7')
					+slide('12-1')
					+slide('12-2')
					+slide('12-3')
					+slide('14-1')
					+slide('14-2')
					+slide('15-1')
					+slide('15-2')
					+slide('20-1')
					+slide('20-10')
					+slide('20-2')
					+slide('20-3')
					+slide('20-4')
					+slide('20-5')
					+slide('20-6')
					+slide('20-7')
					+slide('20-8')
					+slide('20-9')
					+slide('23')
					+slide('24-1')
					+slide('24-2')
					+slide('25-1')
					+slide('25-2')
					+slide('26-1')
					+slide('26-2')
					+slide('26-3')
					+slide('26-4')
					+slide('27-1')
					+slide('27-2')
					+slide('27-3')
					+slide('27-4')
					+slide('28-1')
					+slide('28-2')
					+slide('28-3')
					+slide('28-4')
					+slide('29-1')
					+slide('29-2')
					+slide('30')
					+slide('31-1')
					+slide('31-2')
					+slide('31-3')
					+slide('31-4')
					+slide('32-1')
					+slide('32-2')
					+slide('32-3')
					+slide('33-1')
					+slide('33-2')
					+slide('34')
					+slide('35')
					+slide('36-1')
					+slide('36-2')
					+slide('36-3')
					+slide('38')
					+slide('39')
					+slide('40')
					+slide('41')
					+slide('42')
					+slide('44')
					+slide('50-1')
					+slide('50-10')
					+slide('50-11')
					+slide('50-12')
					+slide('50-13')
					+slide('50-14')
					+slide('50-2')
					+slide('50-3')
					+slide('50-4')
					+slide('50-5')
					+slide('50-6')
					+slide('50-7')
					+slide('50-8')
					+slide('50-9')
					+slide('50-9_1')
					+slide('60')
	// end sExhibitionSlider