mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				h2 О выставке
				p <strong>БАД-EXPO</strong> — выставка, объединяющая производителей и&nbsp;дистрибьюторов БАД с&nbsp;владельцами, руководителями и&nbsp;закупщиками, представляющими предприятия оптовой и&nbsp;розничной торговли БАД, медицинских работников, а&nbsp;также активных и&nbsp;начинающих потребителей биологически активных добавок.
			.row
				.col-lg-4
					+e.UL.pros.bg-wrap
						mixin pros-item(i, text)
							li 
								img(src=`img/svg/sAbout-pros-${i}.svg`, alt="")
								p!= text
						+pros-item(1, 'Огромный выбор БАД и&nbsp;продуктов здорового питания по&nbsp;специальным ценам')
						+pros-item(2, 'Экспресс-анализы на&nbsp;микроэлементы и&nbsp;витамины на&nbsp;выгодных условиях')
						+pros-item(3, 'Бесплатные консультации нутрициологов, диетологов, иммунологов')
						+pros-item(4, 'Презентации и&nbsp;квалифицированные консультации экспертов')
						+pros-item(5, 'Полезная еда в&nbsp;БАД-КАФЕ и&nbsp;фудкорте суперфудов')
						li
							img.pills(src="img/@2x/pills-1.png", alt="")
				.col-lg-4.bg-wrap
					+about-wrap('true', '100-150', 'УЧАСТНИКОВ')
							+about-list('Производители и дистрибьюторы БАД')
							+about-list('Медицинские организации')
					+about-wrap('true', '1000-2000', 'ПОСЕТИТЕЛЕЙ B2B')
							+about-list('Владельцы, руководители и&nbsp;специалисты, представляющие предприятия оптовой и&nbsp;розничной торговли БАД')
							+about-list('Представители медицинских<br>организаций')
					+e.IMG.pills(src="img/@2x/pills-2.png", alt="")
				.col-lg-4.bg-wrap
					+about-wrap('true', '2000-3000', 'ПОСЕТИТЕЛЕЙ B2C')
						+about-list('Владельцы, руководители и специалисты, представляющие предприятия оптовой и розничной торговли БАД из 50 городов России и 10 зарубежных стран')
						+about-list('Представители медицинских<br>организаций')
						+about-list('Представители научных сообществ')
					+e.IMG.pills2(src="img/@2x/pills-3.png", alt="")
			+e.IMG.bg(src="img/@2x/sAbout-bg.png", alt="")
	// end sAbout