mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			p БАД КЛУБ приглашает Вас принять участие в&nbsp;международной выставке БАД-EXPO, которая состоится в&nbsp;историческом центре Москвы в&nbsp;300 метрах от&nbsp;Храма Христа Спасителя и&nbsp;700 метрах от&nbsp;Кремля 24-26 марта 2022 года в&nbsp;EVENT-ХОЛЛЕ &laquo;ИнфоПространство&raquo; по&nbsp;адресу: Москва, м. Кропоткинская, 1-й Зачатьевский пер., 4.
			p БАД-EXPO&nbsp;&mdash; международная специализированная выставка биологически активных добавок и&nbsp;здорового питания, объединяющая:
			ul
				li производителей и&nbsp;дистрибьюторов БАД и&nbsp;здорового питания;
				li владельцев, руководителей и&nbsp;закупщиков, представляющих предприятия оптовой и&nbsp;розничной торговли БАД и&nbsp;здорового питания;
				li представителей медицинских компаний;
				li активных и начинающих потребителей биологически активных добавок.
			h5 Выгоды участников
			h6 Посетители В2В
			ul
				li Установление новых деловых контактов с&nbsp;компаниями расширяющими виды продаваемой продукции.
				li Установление деловых контактов с&nbsp;новыми партнерами, работающими на&nbsp;рынке БАД.
				li Поддержание деловых контактов с действующими партнерами.
				li Презентация своей продукции для бизнес-посетителей c&nbsp;использованием шоу-элементов.
				li Участие в&nbsp;специализированной деловой программе.
				li Общение в&nbsp;неформальной обстановке на&nbsp;вечернем БАД-SHOW.
				li Продвижение своей продукции через маркетинговые инструменты БАД КЛУБА, БАД-EXPO и&nbsp;EVENT&mdash;ХОЛЛА &laquo;ИнфоПространство&raquo;
			h6 Посетители В2В
			ul
				li Участие в&nbsp;популяризация БАД как необходимого продукта для здорового образа жизни.
				li Участие в&nbsp;формировании фокус-групп из&nbsp;потребителей БАД для оценки эффективности и&nbsp;решения других вопросов
				li Дегустация и&nbsp;тестирование новых БАД и&nbsp;продуктов здорового питания.
				li Презентации своей продукции для потребителей БАД с&nbsp;использованием шоу-элементов.
				li Массовое консультирование потребителей.
				li Активное продвижение своих брендов и&nbsp;продукции для конечных потребителей.
				li Получение информации по&nbsp;специализированным опросам потребителей БАД.
				li Продажа производителями БАД и&nbsp;продуктов здорового питания.
			p Основная цель БАД-EXPO&nbsp;&mdash; популяризация БАД в&nbsp;России на&nbsp;основе выстраивания регулярных коммуникаций между производителями и&nbsp;потребителями БАД, синхронизация потребления
			p БАД и&nbsp;здорового питания с&nbsp;целью увеличения объема продаж на&nbsp;российском рынке. БАД-EXPO открывает новые возможности как для специалистов рынка БАД и&nbsp;здорового питания, так и&nbsp;для конечных потребителей.
	// end sContent