mixin sVideoWrap(data)
	// start sVideoWrap
	+b.SECTION.sVideoWrap.section#sVideoWrap&attributes(attributes)
		img(src="img/@2x/pills-4.png", alt="")
		.container
			+b.section-title
				h2 Видеообзор БАД-EXPO
			+e.wrap
				<iframe src="https://www.youtube.com/embed/Zz_bcq6CyMQ" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	// end sVideoWrap