mixin table-item(time, text, ...text2)
	tr 
		td 
			span!= time
		td
			p!= text
			if text2
				each content in text2
					p!= content
			block

mixin sProgram(data)
	// start sProgram
	+b.sProgram.section#sProgram&attributes(attributes)
		.container
			.tabs
				.tabs__caption
					.tabs__btn 11 ноября
					.tabs__btn.active 12 ноября
					.tabs__btn 13 ноября
				.tabs__content
					table
						+e.title.h6.text-center Конференция &laquo;Актуальные проблемы, препятствующие развитию рынка БАД, и&nbsp;способы их&nbsp;решения&raquo;
						+table-item('11.00-11.30', 'Исследование: анализ рынка БАД за&nbsp;период январь-сентябрь 2021&nbsp;г.', 'Сергей Александрович Шуляк&nbsp;&mdash; генеральный директор аналитического агентства DSM Group')
						+table-item('11.30-12.30', 'Классификатор БАД по&nbsp;предназначению (базовый, расширенный и&nbsp;полный перечни)', 'Владимир Михайлович Глуховский&nbsp;&mdash; генеральный директор БАД-КЛУБа')
						+table-item('12.30-13.00', 'Дискуссия: Принимать БАД по&nbsp;рекомендации врача или выбирать самостоятельно?', 'Модератор&nbsp;&mdash; Татьяна Галицына, маркетолог БАД-EXPO')
						+table-item('13.00-13.30', 'Что такое маркировка и&nbsp;каковы ее&nbsp;задачи<br>Задачи маркировки в&nbsp;разрезе предприятий, потребителя и&nbsp;государства', 'Нормативная база<br>Краткий обзор основных нормативно-правовых документов', 'Товары в&nbsp;эксперименте<br>Дорожная карта реализации эксперимента по&nbsp;маркировке БАД<br>Контрольные точки в&nbsp;соответствии с&nbsp;нормативными правовыми актами и&nbsp;задачи, которые необходимо решить для их&nbsp;достижения. О&nbsp;работе Оператора с&nbsp;участниками оборота БАД по&nbsp;вопросам маркировки', 'Технологии маркировки БАД<br>Варианты технологических решений и&nbsp;сроки, необходимые для их&nbsp;внедрения. Ориентировочная цена технологических решений по&nbsp;итогам экспериментов. Влияние маркировки на&nbsp;цену продукции', 'Основные действия участников оборота товаров в&nbsp;государственной информационной системе мониторинга за&nbsp;оборотом товаров, подлежащих обязательной маркировке средствами идентификации<br>Где взять информацию, если появились вопросы.<br>Информирование и&nbsp;демонстрация сайта ЧестныйЗнак.рф, обучающего центра и&nbsp;т.п.', 'Любовь Андреева&nbsp;&mdash; руководитель проектов товарной группы Фарма ЦРПТ')
						+table-item('14.00-15.00', 'НАктуальные проблемы, препятствующие развитию рынка БАД', 'Ованес Вагенович Давидян&nbsp;&mdash; врач-терапевт, организатор здравоохранения, научный сотрудник НИМЦ &laquo;Геронтология&raquo;, аспирант кафедры терапии, гериатрии и&nbsp;антивозрастной медицины ИПК ФМБА России, член Ассоциации Междисциплинарной медицины, член Российского научного медицинского общества терапевтов, Медицинский эксперт Компании &laquo;Авиценна&raquo;, Генеральный директор центра превентивной медицины &laquo;Лайф Мед Центр&raquo;, лауреат премии Здоровое питание 2021 &laquo;За&nbsp;личный вклад в&nbsp;популяризацию здорового питания&raquo;, автор книги &laquo;Омега-3&nbsp;ПНЖК&nbsp;&mdash; основа здоровья и&nbsp;долголетия&raquo;')
						+table-item('15.00-15.30', 'Как продавать больше, создав свой бренд в&nbsp;БАД', 'Андрей Горнов&nbsp;&mdash; основатель брендингового агентства GETBRAND')
						+table-item('16.00-17.00', 'Роль биологически активных добавок к&nbsp;пище в&nbsp;оптимизации питания населения', 'Светлана Владимировна Орлова&nbsp;&mdash; заведующая кафедрой, д.м.н., профессор. Российский университет дружбы народов. Кафедра диетологии и&nbsp;клинической нутрициологии ФНМО Медицинский институт.')
				.tabs__content.active
					table
						+table-item('12.00-12.30', '5&nbsp;причин бесплодия у&nbsp;женщин и&nbsp;мужчин. Роль нутрициологии в&nbsp;планировании беременности', 'Юлия Петровна Леонтьева&nbsp;&mdash; семейный врач, клинический нутрициолог, кандидат медицинских наук (г. Ростов-на-Дону)')
						+table-item('12.30-12.45', 'Поддержание иммунитета в&nbsp;сезон простуд при гриппе и&nbsp;ОРВИ', 'Светлана Ивановна Калугина – эксперт по апитерапии')
						+table-item('13.00-13.30', 'Роль нутрицевтиков в&nbsp;профилактике онкологии у&nbsp;женщин', 'Елена Валериевна Ермолова&nbsp;&mdash; гинеколог, врач УЗИ, клинический нутрициолог, кандидат медицинских наук (г. Ростов-на-Дону)')
						+table-item('14.00-14.15', 'Природный кальций&nbsp;&mdash; источник красоты', 'Евгений Валерьевич Груздев&nbsp;&mdash; генеральный директор ООО НПК &laquo;Cантевилль&raquo;')
						+table-item('14.15-14.30', 'Невынашивание беременности&nbsp;&mdash; как накопить ресурс, чтобы выносить', 'Мария Владимировна Трегубова @gynecolog_tregubova&nbsp;&mdash; акушер- гинеколог, врач к.м.н с&nbsp;опытом 20&nbsp;лет, эксперт телешоу и&nbsp;портала Woman.ru, автор курсов &laquo;Школа женского здоровья&raquo; и&nbsp;&laquo;Домашняя остеопатия&raquo;, &laquo;Биология зачатия&raquo;, основатель академии интегративной медицины &laquo;Базис&raquo;, клинический психолог, врач остеопат')
						+table-item('14.30-14.45', 'Белково-пептидный комплекс &laquo;Виоргон&nbsp;18&raquo; для профилактики мужского бесплодия', 'Павел Алексеевич Елистратов&nbsp;&mdash; к.б.н., зав. лабораторией, ООО &laquo;Институт проблем биорегуляции&raquo;')
						+table-item('15.00-15.15', 'Защищаем бизнес с&nbsp;помощью интеллектуальной собственности', 'Михаил Пасынок&nbsp;&mdash; руководитель направления химии и&nbsp;фармацевтики ООО &laquo;Онлайн патент&raquo;. Патентный поверенный РФ &#8470;&nbsp;1375, Евразийский патентный поверенный &#8470;&nbsp;344')
						+table-item('15.30-15.45', 'Иммунотропные эффекты нутриентных комплексов с&nbsp;витаминным и&nbsp;минеральным составом: мнение иммунолога', 'Оксана Анатольевна Гизингер&nbsp;&mdash; профессор, доктор биологических наук. РУДН медицинский институт. Full Professor of&nbsp;the RUDN University')
						+table-item('16.00-16.15', 'Улучшение сна при помощи экстракта шафрана Saffr&rsquo;Active', 'Максим Малыхин&nbsp;&mdash; представитель компании &laquo;ИнВита&raquo;')
						+table-item('16.30-16.45', 'Розыгрыш 3&nbsp;БАД-БОКСов с&nbsp;продукцией Экспонентов номиналом 30&nbsp;000&nbsp;руб. каждый')
							ul
								li
									p ООО «БакЗдрав» #[a(href="#") bakzdrav.ru] (стенд №04)
								li
									p ООО «СибПрибор» (ТМ «Байкальская легенда») #[a(href="#") baikal-legend.ru] (стенд №08)
								li
									p ПРЕМЬЕР НУТРИШИНАЛ #[a(href="#") lactoflorene.eu] (стенд №11-5)
								li
									p IMAGINE PEOPLE #[a(href="#") gidroplazma-life.ru] (стенд №11-7)
								li
									p ООО «Аквамир» #[a(href="#") zosterin-ultra.ru]zosterin-ultra.ru (стенд №12-1)
								li
									p CEYLONICA #[a(href="#") ceylonica.club] (стенд №20-8)
								li
									p ООО «АндиФарм» #[a(href="#") andifarm.ru] (стенд №20-10)
								li
									p ООО «Медлинфарм» #[a(href="#") medlinpharm.ru] (стенд №24-2)
								li
									p Chikalab #[a(href="#") bombbar.ru] (стенд №26-1+26-2)
								li
									p ООО «Прометеус Фарма» #[a(href="#") prometheus-pharma.ru] (стенд №26-3)
								li
									p Научно-производственная компания «Сантевилль» #[a(href="#") santeville.ru] (стенд №27-2)
								li
									p Авиценна #[a(href="#") avicenna.com.ru] (стенд №27-3+27-4)
								li
									p Компания ДЕМ4 Р/ DEM4 R #[a(href="#") dem4r.com] (стенд №28-1+28-2)
								li
									p ООО «Биолит» #[a(href="#") biolit.shop] (стенд №29-1)
								li
									p Артлайф #[a(href="#") artlife-msk.ru] (стенд №36-1)
								li
									p ООО «Нутрифика» #[a(href="#") nutrifica.biz] (стенд №50-6)
						+table-item('17.00-17.15', 'Уникальные возможности функциональных питьевых минеральных вод в&nbsp;вопросах профилактики инфекционных заболеваний (грипп, ОРВИ, Covid-19), профилактики сердечно-сосудистых заболеваний и&nbsp;общего укрепления иммунитета', 'Михаил Игоревич Ольхов&nbsp;&mdash; эксперт по&nbsp;минеральным лечебным водам, директор по&nbsp;развитию компании &laquo;Cтэлмас-Д&raquo;')
						//- tr 
						//- 	td 
						//- 		span 12.00-12.30
						//- 	td
						//- 		p 5&nbsp;причин бесплодия у&nbsp;женщин и&nbsp;мужчин. Роль нутрициологии в&nbsp;планировании беременности
						//- 		p Юлия Петровна Леонтьева&nbsp;&mdash; семейный врач, клинический нутрициолог, кандидат медицинских наук (г. Ростов-на-Дону)
					+e.P.text Программа находится в стадии формирования.
				.tabs__content
					table
						+table-item('12.00-12.15', 'Место природных веществ в&nbsp;про эйдж протоколе возраст-ассоциированных заболеваний', 'Ованес Вагенович Давидян&nbsp;&mdash; врач-терапевт, организатор здравоохранения, научный сотрудник НИМЦ &laquo;Геронтология&raquo;, аспирант кафедры терапии, гериатрии и&nbsp;антивозрастной медицины ИПК ФМБА России, член Ассоциации Междисциплинарной медицины, член Российского научного медицинского общества терапевтов, Медицинский эксперт Компании &laquo;Авиценна&raquo;, Генеральный директор центра превентивной медицины &laquo;Лайф Мед Центр&raquo;, лауреат премии Здоровое питание 2021 &laquo;За&nbsp;личный вклад в&nbsp;популяризацию здорового питания&raquo;, автор книги &laquo;Омега-3&nbsp;ПНЖК&nbsp;&mdash; основа здоровья и&nbsp;долголетия&raquo;')
						+table-item('13.00-13.15', 'Поддержание иммунитета в&nbsp;сезон простуд и&nbsp;вирусных инфекций с&nbsp;натуральными высокотехнологичными БАД от&nbsp;Байкальской Легенды', 'Богдан Владимирович Городиский&nbsp;&mdash; академик РАЕН, иммунолог')
						+table-item('14.00-14.15', 'BetaVia Сomplete: Бета-глюкан из&nbsp;водоросли&nbsp;&mdash; натуральная поддержка иммунной системы', 'Мария Мухлынина&nbsp;&mdash; представитель компании &laquo;ИнВита&raquo;')
						+table-item('14.30-14.45', 'Роль бактерий в&nbsp;нашей жизни', 'ООО &laquo;БАКЗДРАВ&raquo;')
						+table-item('15.00-15.15', 'Острое зрение', 'Владимир Георгиевич Жданов&nbsp;&mdash; российский общественный деятель, ведущий специалист в&nbsp;мире по&nbsp;немедицинскому восстановлению зрения по&nbsp;методу Шичко-Бейтса. Удостоен золотой медали РАЕН имени И.&nbsp;И.&nbsp;Мечникова &laquo;За&nbsp;вклад в&nbsp;укрепление здоровья нации&raquo;. Награжден золотой медалью РАЕН имени Пауля Эрлиха &laquo;За&nbsp;вклад в&nbsp;развитие профилактической медицины&raquo;, лауреат Гран-при Первого Всероссийского интернет-конкурса &laquo;На&nbsp;благо мира&raquo;')
						+table-item('16.00-16.15', 'Розыгрыш 3&nbsp;БАД-БОКСов с&nbsp;продукцией Экспонентов номиналом 30&nbsp;000&nbsp;руб. каждый')
							ul
								li
									p ООО «БакЗдрав» #[a(href="#") bakzdrav.ru] (стенд №04)
								li
									p ООО «СибПрибор» (ТМ «Байкальская легенда») #[a(href="#") baikal-legend.ru] (стенд №08)
								li
									p ПРЕМЬЕР НУТРИШИНАЛ #[a(href="#") lactoflorene.eu] (стенд №11-5)
								li
									p IMAGINE PEOPLE #[a(href="#") gidroplazma-life.ru] (стенд №11-7)
								li
									p ООО «Аквамир» #[a(href="#") zosterin-ultra.ru]zosterin-ultra.ru (стенд №12-1)
								li
									p CEYLONICA #[a(href="#") ceylonica.club] (стенд №20-8)
								li
									p ООО «АндиФарм» #[a(href="#") andifarm.ru] (стенд №20-10)
								li
									p ООО «Медлинфарм» #[a(href="#") medlinpharm.ru] (стенд №24-2)
								li
									p Chikalab #[a(href="#") bombbar.ru] (стенд №26-1+26-2)
								li
									p ООО «Прометеус Фарма» #[a(href="#") prometheus-pharma.ru] (стенд №26-3)
								li
									p Научно-производственная компания «Сантевилль» #[a(href="#") santeville.ru] (стенд №27-2)
								li
									p Авиценна #[a(href="#") avicenna.com.ru] (стенд №27-3+27-4)
								li
									p Компания ДЕМ4 Р/ DEM4 R #[a(href="#") dem4r.com] (стенд №28-1+28-2)
								li
									p ООО «Биолит» #[a(href="#") biolit.shop] (стенд №29-1)
								li
									p Артлайф #[a(href="#") artlife-msk.ru] (стенд №36-1)
								li
									p ООО «Нутрифика» #[a(href="#") nutrifica.biz] (стенд №50-6)
						+table-item('16.30-17.00', 'Тренды долголетия', 'Ирина Писарева&nbsp;&mdash; звездный нутрициолог , спортивный диетолог. Член национальной ассоциации диетологов и&nbsp;нутрициологов. Автор книги &laquo;Психология стройных&raquo;. Эксперт изданий Cosmo, Лиза, MarieClaire, Современное здоровье и&nbsp;других. Эксперт на&nbsp;федеральных каналах телевидения. Основатель школы онлайн-похудения Make healthy body. Мама двоих детей')
					+e.P.text Программа находится в стадии формирования.
	// end sProgram