// start .sLocation
.sLocation {
	--sPT: #{rem(21.2)};
	--sPB: #{rem(18)};
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(74)};
	}
	.section-title {
		margin-bottom: rem(30);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(56);
		}
	}
	h4 {
		margin-bottom: rem(20);
	}
	img {
		width: 100%;
	}
	&__wrap {
		display: flex;
		flex-direction: column;
		font-size: rem(24);
		margin-bottom: rem(20);
		text-align: center;
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			text-align: left;
		}
		p {
			margin-bottom: 0;
		}
		a {
			font-size: rem(24);
			&:not(:hover) {
				color: $body-color;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sLocation