mixin sLocation(data)
	// start sLocation
	+b.SECTION.sLocation.section#sLocation&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Место проведения
			.row
				.col-lg.order-last.order-lg-first
					img(src="img/@2x/sLocation-img.jpg", alt="")
				.col-lg
					+e.wrap
						h4 24–26 марта, 10.00-19.00
						p EVENT-ХОЛЛ «ИнфоПространство»
						p 1-й Зачатьевский пер., 4
						a(href="tel:+74956907241") +7 (495) 690 72 41
						a(href="mailto:baa@info-space.ru") baa@info-space.ru
	// end sLocation