
	// start .topLine
	.topLine {
	--sPT: #{rem(8)};
	--sPB: #{rem(8)};
	background-color: $cyan;
	color: $white;
	// display: none;
	@include media-breakpoint-up(md) {
		display: block;
	}
	&__row {
		align-items: center;
		--bs-gutter-x: #{rem(82)};
		@include media-breakpoint-down(md) {
			--bs-gutter-x: #{rem(20)};
		}
	}
	p {
		margin-bottom: 0;
		font-weight: 700;
		font-size: rem(14);
		@include media-breakpoint-down(sm) {
			font-size: 9px;
		}
	}
	a {
		font-size: rem(14);
		font-weight: 700;
		color: $white;
		border-bottom: 1px solid transparent;
		padding-right: rem(10);
		&:hover {
			border-bottom-color: $white;
			
		}
	}
	&__wrap {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(md) {
			justify-content: end;
		}
	}
	.icon-location-dot-solid {
		font-size: rem(14);
		margin-right: rem(5);
		@include media-breakpoint-down(sm) {
			font-size: 9px;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine