mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col.col-lg-auto
					//- +logo()
					+e.A.logo(href="/") 
						img(src="img/svg/logo.svg", alt="")
				.col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
							//- button.btn.d-lg-none Зарегистрироваться
							a(href="tel:+74956907241").btn.btn-primary +7 (495) 690 72 41
				.col-auto.d-none.d-lg-block
					+e.link-wrap
						a(href="#").btn.btn-primary Бронь стенда
						a(href="#").btn.btn-primary Регистрация
				.col-auto.d-lg-none
					+menu-toggle()
	// end top-nav