.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary); 
	// 
	// p{
	// 	@include ell();
	// }
	padding: rem(6.6) 0;
	&__row {
		align-items: center;
	}
	&__logo {
		@include media-breakpoint-up(xl) {
			margin-right: rem(23);
		}
	}
	img {
		width: 149px;
	}
	&__link-wrap {
		a {
			color: $gray-800;
			// font-weight: 600;
			padding: rem(7) rem(20);
			&:last-child {
				margin-left: rem(36);
				@include media-breakpoint-only(lg) {
					margin-left: rem(10);
				}
			}
			// &:hover {
			// 	text-decoration: underline;
			// 	color: $white;
			// }
		}
	}
	.menu {
		--bs-gutter-x: #{rem(12)};
		a {
			@include media-breakpoint-only(lg) {
				font-size: rem(14);
			}
		}
	}
	.menu{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		@include media-breakpoint-down(lg) {
			flex-direction: column;
			align-items: flex-start;
			flex-grow: 1;
		}
		& > .menu-item{
			--menu-item-me: 1.3rem;
			--arrow-w: #{rem(10)};
			--arrow-ms: #{rem(10)};

			// @include media-breakpoint-up(lg) {
			// 	padding: rem(32) 0 rem(32) 0;
			// }
			margin-right: var(--menu-item-me);
			&::after {
				@include mt;
				content: '';
				display: block;
				width: 0;
				height: 2px;
				background-color: #fff;
			}
			&:hover {
				&::after {
					width: 100%;
				}
			}
			//all links
			a{
				font-weight: 600;
				font-size: rem(16);
				line-height: 1;
				color: $white;
			}

			& > a{
				font-weight: 600;
				font-size: rem(16);
				line-height: 1;
				color: rgba(70,70,70,1);
				@include media-breakpoint-only(lg) {
					font-size: rem(14);
				}
				&:hover {
					color: rgba(77,184,72,1) ;
				}
			}

			&.menu-item-has-children{
				&:hover{
					--sub-mnu-scale: 1;
				}
				@include media-breakpoint-down(lg) {
					--sub-mnu-scale: 1;
					flex-direction: column;
    			align-items: self-start;
				}

				position: relative;
				z-index: 10;
				margin-right: calc(var(--menu-item-me) - var(--arrow-ms, 0px) - var(--arrow-w, 0px));

				display: flex;
				align-items: center;
				&:after{
					content: '';
					display: inline-block;
					width: var(--arrow-w);
					height: var(--arrow-w);
					background-color: unset;

					margin-left: var(--arrow-ms);

					background-image: url(../img/svg/chevron-down.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;

					@include media-breakpoint-down(lg) {
						position: absolute;
						left: 106px;
						top: 14px;
					}
				}
			}
		}

		.sub-menu{
			@include mt();
			transform-origin: top;
			transform: scaleY(var(--sub-mnu-scale, 0));

			padding: rem(12) rem(10);
			background-color: $white;
			list-style: none;
			position: absolute;
			top: 231%;
			left: rem(-10);
			width: auto;
			height: auto;
			display: block;
			@include media-breakpoint-down(lg) {
				background-color: $white;
				top: 0;
				opacity: 1;
				left: 0;
				padding-top: 0;
			}
			.menu-item{
				margin-bottom: rem(3);
				display: block;
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				padding: rem(8);
				white-space: nowrap;
				text-align: left;
				color: $body-color;
				&:hover {
					color: rgba(77,184,72,1) ;
				}
			}
			@include media-breakpoint-down(lg) {
				position: relative;
    		order: 10;
				&.active {
					display: block;
					--sub-mnu-scale: 1;
				}
			}
		}
	}
	.menu-mobile {
		&__inner {
			display: flex;
			flex-direction: column;
			align-items: self-start;
			button {
				border-color: #ffe652;
    		background-color: #ffe652;
				margin-top: 0;

			}
		}
	}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


