include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin arrow2()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left-solid')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right-solid')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin about-list(text)
	li 
		span
		!= text

mixin about-wrap(title, num, span)
	+b.about-list
		if title
			p!= num
			p!= span
		ul
			block

mixin page-head(title, ...lists)
	+b.page-head
		.container
			block
			h1!= title

mixin map()
	+b.map-wrap
		<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2246.091500274204!2d37.604485650392895!3d55.73953914528197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x46b54ba98390be6b%3A0xee43d883318f3f0a!2zRVZFTlQt0KXQntCb0JsgItCY0L3RhNC-0J_RgNC-0YHRgtGA0LDQvdGB0YLQstC-IiwgMS1ZIFphY2hhdCd5ZXZza2l5IFBlcmV1bG9rLCA0LCBNb3Njb3csIFJ1c3NpYSwgMTE5MDM0!3m2!1d55.7396098!2d37.604701299999995!5e0!3m2!1sen!2slv!4v1646815144131!5m2!1sen!2slv" style="border:0;" allowfullscreen="" loading="lazy"></iframe>