mixin sOurGoals(data)
	// start sOurGoals
	+b.SECTION.sOurGoals.section#sOurGoals.bg-wrap&attributes(attributes)
		img(src="img/@2x/sOurGoals-bg.jpg", alt="").picture-bg
		.container-fluid
			.row
				+e.col.col-lg-6
					h2 Цели БАД-EXPO
					+about-wrap()
						+about-list('увеличение объема продаж БАД и&nbsp;здорового питания в&nbsp;России;')
						+about-list('cинхронизация потребления БАД и&nbsp;здорового питания;')
						+about-list('расширение участников рынка продавцов БАД и&nbsp;здорового питания;')
						+about-list('выстраивание коммуникаций между производителями и&nbsp;потребителями БАД на&nbsp;регулярной основе;')
						+about-list('создание системы оценки эффективности БАД;')
						+about-list('повышение уровня доверия к&nbsp;БАД;')
						+about-list('популяризация БАД в&nbsp;России;')
						+about-list('повышение культуры потребления БАД и&nbsp;здорового питания, просвещение потенциальных потребителей.')
	// end sOurGoals